.cell {
    -fx-min-width: 20px; /* Ancho mínimo de la celda */
    -fx-min-height: 10px; /* Alto mínimo de la celda */
    -fx-max-width: 20px; /* Ancho máximo de la celda */
    -fx-max-height: 10px; /* Alto máximo de la celda */
}